<div class="column-menu">
  <div class="navigation menu">
    <ul>
      <li>
        <div class="user">
          <span class="icon">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
          </span>
          <span class="user-name">Fulano Lorem Ipsum</span>
        </div>
      </li>
      <li class="active">
        <a href="#" routerLink="/home" title="Home">
          <span class="icon">
            <i class="fa fa-home" aria-hidden="true"></i>
          </span>
          <span class="title">Home</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/menu" title="Menu 1">
          <span class="icon">
            <i class="fa fa-table" aria-hidden="true"></i>
          </span>
          <span class="title">Menu 1</span>
        </a>
      </li>
    </ul>
  </div>
</div>