<nav class="navbar navbar-custom">
  <div><img src="assets/logo_p.png" alt="logo sistema"></div>
  <div>
    Ambiente de produção
  </div>
</nav>
<div class="d-flex content-login">
  <div class="column-bg">
    <img src="assets/pc.png" title="imagem">
  </div>
  <div class="column-form">
    <div class="card-login">
      <h4 class="text-center border-bottom">Entrar no sistema</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua
      </p>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1" for="usuario">Usuário</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Usuário ou CPF" name="usuario">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1" for="senha">Senha</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha" name="senha">
        </div>
        <div class="form-group">
          <a href="#">Esqueceu sua senha?</a>
        </div>
        <button type="submit" title="Entrar" routerLink="/home" class="btn btn-primary btn-block">Entrar</button>
      </form>
    </div>
  </div>
</div>