<nav class="navbar navbar-custom">
  <div><img src="assets/logo_p.png"></div>
  <div>
    Ambiente de produção

    <div class="btn-group border-left border-white ml-2 pl-2">
      <i class="fa fa-list" aria-hidden="true" data-toggle="dropdown" data-display="static" aria-haspopup="true"
        aria-expanded="false"></i>
      <div class="dropdown-menu dropdown-menu-right">
        <button class="dropdown-item" type="button">Ir para menu</button>
        <button class="dropdown-item" type="button">Ir para conteúdo</button>
      </div>
    </div>
  </div>
</nav>