<app-header></app-header>
<div class="d-flex content-menu1">
  <app-menu-primary></app-menu-primary>
  <div class="column-content">
    <div class="bar-breadcrump">
      <i class="fa fa-bars mr-4 cursor-pointer" (click)="openMenu1()" aria-hidden="true"></i>
      logo
    </div>
    <div class="info-page">
      <h5 class="mb-0">Menu 1</h5>
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</span>
    </div>
    <div class="content-page">
      <div>
        <h5 class="mb-0">Titulo</h5>
        <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</small>
      </div>
      <div class="card">
        <div class="card-body">
          <h6 class="mb-0">Busca de código</h6>
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</span>
          <hr>
          <div class="input-group mb-3 col-md-12 col-lg-6">
            <input type="text" class="form-control" placeholder="Digite o código" aria-label="Digite o código"
              aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary btn-search" type="button" id="button-addon2">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h6 class="mb-0">Lista de código</h6>
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</span>
          <hr>
          <div class="d-flex">
            <div class="p-2">Mostrar</div>
            <div class="form-group">
              <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="p-2">resultados</div>
          </div>
          <div class="content-table">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">
                    <input type="checkbox" id="inlineCheckbox1" value="option1">
                  </th>
                  <th scope="col">Código</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Alícota</th>
                  <th scope="col">Fato gerador</th>
                  <th scope="col">Período de apuração</th>
                  <th scope="col">Vencimento</th>
                  <th scope="col">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <input type="checkbox" id="inlineCheckbox1" value="option1">
                  </td>
                  <td>0000007</td>
                  <td>Lorem ispsum</td>
                  <td>Sim</td>
                  <td>99/99/99</td>
                  <td>Diário</td>
                  <td>Variável</td>
                  <td class="text-center">
                    <button type="button" class="btn btn-secondary btn-sm">
                      <i class="fa fa-cog" aria-hidden="true"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <input type="checkbox" id="inlineCheckbox1" value="option1">
                  </td>
                  <td>0000006</td>
                  <td>Lorem ispsum</td>
                  <td>Sim</td>
                  <td>99/99/99</td>
                  <td>Diário</td>
                  <td>Variável</td>
                  <td class="text-center">
                    <button type="button" class="btn btn-secondary btn-sm">
                      <i class="fa fa-cog" aria-hidden="true"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>